<!-- activate_venv.html -->
<!-- A script that shares with users how to activate and deactivate a virtual environment -->

<html>
	<head>
		<title> Activate & Deactivate Virtual Environment </title>

	</head>

	<body>
		<h1> How to Activate and Deactivate a Virtual Environment from your Command Terminal </h1>
		<h2> In your command terminal type in either of the following lines of code: </h2>
		<p> source venv/bin/activate </p>
		<p> -or- </p>
		<p> . venv/bin/activate </p>
		<p> Notes: before submitting the command to activate the virtual environment, be sure that you are located in the main directory for the app.In both of these instances, "venv" is the name of the virtual environment you are activating. "venv" is commonly used in the coding community, but you could name it whatever you like. You will know that the virtual environment has been activtated because you will see at the beginning of your command line in parenthesis the name you gave the virtual environment ex. (venv)yourcomputerid@suchandsuch.com:$  </p>

	</body>


</html>