<!-- create_venv.html -->
<!-- A script that shares with users how to activate and deactivate a virtual environment -->

<html>
	<head>
		<title> Create Virtual Environment </title>

	</head>

	<body>
		<h1> How to Create a Virtual Environment from your Command Terminal </h1>
		<h2> In your command terminal type in the following code: </h2>
		<p> virtualenv venv </p>
		<p> Notes: "venv" is the name you are giving your virtual environment. You don't have to name it "venv", you can name it whatever you like, though "venv" is commonly used in the coding community. Also, before submitting the command to activate the virtual environment, be sure that you are located in the main directory for the app. </p>

	</body>


</html>